*{
	font-family: sans-serif;
	/*margin: 0px;
	padding: 0px;*/
}
.mainGraphic{
	background-image: url("logo.png");
	height:69px;
	width:1022px;
	background-repeat: no-repeat;
}
.mainGraphic b{
	margin-left:700px;
	margin-top:30px;
	display:inline-block;
	font-size:18px;
}
.mainMenu ul{
	list-style-type: none;
}
.mainMenu li{
	display: inline;
}
.mainMenu a{
	text-decoration: none;
	font-size:13px;
}

.warehouse{
	background-color: white;
	background-repeat: no-repeat;
	width: 382px;
	height: 260px;
	padding: 5px 0px 0px 5px;
	display: inline-block;
}

.mainContent{
	background-color: black;
	width: 1022px;
	height: 800px;
}

.headliner{
	margin: 15px 15px 10px 35px;
	display: inline-block;
}

.footer{
	display: inline-block;
}

.aboutHeader{
	width: 550px;
	height: 30px;
	background-color: yellow;
	display: block;
}

.aboutContent{
	width: 550px;
	height: 230px;
	color: white;
	display: block;
}

.headlinerText{
	background-color: gray;
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 10px;
}